<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.bus.dao.ExportMapper">

    <!-- 查询近一年的退货数量 -->
    <select id="loadExportByYear" resultType="com.sw.sys.common.DataView">
     SELECT
     SUM(number) AS numberByYear,
     DATE_FORMAT(exportTime,'%Y-%m') timeByYear
     FROM
     bus_export
     WHERE
     exportTime>DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
     GROUP BY
     timeByYear
    </select>

    <!-- 查询今日退货数量 -->
    <select id="loadExportByNow" resultType="Integer">
        SELECT
        IFNULL(SUM(number),0) AS number
        FROM bus_export
        WHERE
        TO_DAYS(exportTime) = TO_DAYS(NOW())
    </select>

    <select id="loadExportByGoods" resultType="com.sw.sys.common.Proportion">
        SELECT
        SUM(ex.number) AS value,
        gs.goodsName AS name
        FROM bus_export ex
        LEFT JOIN bus_goods gs
        ON ex.goodsId = gs.id
        GROUP BY ex.goodsId
    </select>
</mapper>
