<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.bus.dao.ImportMapper">

    <!-- 查询当前月进货数量 -->
    <select id="loadImportByNow" resultType="Integer">
        SELECT
        IFNULL(SUM(number),0) AS number
        FROM bus_import
        WHERE
        date_format(importTime,'%Y-%m')=date_format(now(),'%Y-%m')
    </select>

    <!-- 查询进货数量 -->
    <select id="loadImportByGoods" resultType="com.sw.sys.common.Proportion">
        SELECT
        SUM(im.number) AS value,
        gs.goodsName AS name
        FROM bus_import im
        LEFT JOIN bus_goods gs
        ON im.goodsId = gs.id
        GROUP BY im.goodsId
    </select>

    <!-- 查询当前月进货数量 -->
    <select id="loadImportGoodsByMonth" resultType="com.sw.sys.common.Proportion">
        SELECT
        SUM(im.number) AS value,
        gs.goodsName AS name
        FROM bus_import im
        LEFT JOIN bus_goods gs
        ON im.goodsId = gs.id
        WHERE
        DATE_FORMAT( importTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        GROUP BY im.goodsId
    </select>
</mapper>
