<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sw.bus.dao.SalesBackMapper">

    <!--查询本月销售退货额 -->
    <select id="loadSalesBackGoodsByMonth" resultType="Integer">
        SELECT SUM(number) AS value
        FROM bus_salesback
        WHERE
        DATE_FORMAT( salesBackTime, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </select>
</mapper>
